@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Roboto&family=Rock+Salt&display=swap');

/* ////////////////////////*/
/*   Table of Contents*/
/*   1. Global Styles*/
/*   2. Typography*/
/*   3. Layout*/
/*       Reusables*/
/*       Other*/
/*   4. Areas*/
/*       Header and navigation*/
/*       Introduction*/
/*       Main Sections with selection options */
/*       creative cuisine and meal type selection list */
/*       ingredients selection list */
/*       Buttons */
/*       Section with recipe line items */
/*       Section with recipe details    */
/*    5. Media Queries                  */
/* ////////////////////////*/


/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------------------- 2. Typography ----------------------------------- */

h1, h2, h3, h4 {
    font-family: 'Merriweather', Georgia, serif;
    font-size: 16px;
}

h4 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    gap: 3px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    position: relative;
    top: 70px;
    background-color: blanchedalmond;
}

ul {
    list-style: none;
    margin-left: 10px;
}

label {
    font-size: smaller;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* -----------------------------------Reusables ------------------------------------ */

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.blankline {
    margin-top: 5px;
}

.high-light {
    font-weight: bold;
}

.hidden {
    display: none;

}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0;
    width: 700px;
}

.icon-img {
    width: 100px;
    height: 100px;
    border: solid 1px lightblue;
    border-radius: 10%;
    margin: 20px;

}

.icon-img-extra {
    margin: 10px;
}

.icon-img32 {
    width: 50px;
    /*padding: 5px;*/
    margin: 5px;
    border: solid 1px lightblue;
    border-radius: 10%;
}

.blankline {
    padding-bottom: 5px;
}


::placeholder {
    font-weight: lighter;
    color: palevioletred;
}

/* ------------------------------- 4. Areas ---------------------------------------- */

/* ---------------------------------- Header and navigation ------------------------ */


#head-section {
    max-width: 900px;
    margin: 10px;
    text-align: left;
}

.ref-back::after, .ref-menu::after, .ref-null::after, .ref-top::after, .ref-sel::after {
    display: inline-block;
    content: "";
    width: 0;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;

}

.ref-menu:hover::after, .ref-back:hover::after, .ref-top:hover::after, .ref-sel:hover::after   {
    content: "menu";
    height: 20px;
    width: 50px;
    background-color: blanchedalmond;
    border: 5px white;
    border-radius: 20px;
    text-align: center;
}
.ref-back:hover::after {
    content: "list";
}
.ref-top:hover::after {
    content: "top";
}
.ref-sel:hover::after {
    content: "find";
}

.ref-null {
    border: none;
}

#head-img {
    width: 500px;
    padding: 5px;
    margin: 5px;
    border: 5px white;
    border-radius: 20px;
}

/*----------------------------------- Introduction image ---------------------------- */

#fill-img {
    width: 300px;
    padding: 5px;
    margin: 5px;
    border: 2px;
    border-radius: 20px;
}

/* -----------------------------------Main section with selection options ------------*/



#sel-container {
    max-width: 900px;
    margin-left: 50px;
    padding: 50px 50px 0 50px;
    text-align: left;

}

#sel-style {
    justify-content: center;
    align-items: center;
}


#descr1, #descr2, #descr3 {
    justify-content: center;
    width: 200px;
}

/* ---------------------------------- creative cuisine and meal type selection list --*/



#on-submit, #on-submit-cuisine {
    margin-left: 10px;
}

#author {
    margin-top: 5px;
    width: 150px;
    margin-left: 20px;
}

#title {
    width: 150px;
    margin-left: 20px;
}

#numberMax {
    width: 50px;
    margin-left: 10px;
}

#author, #title, #numberMax {
    color: rebeccapurple;
}


#cuisine-list, #meal-type-list {
    text-align: left;
    height:150px;
    flex-wrap: wrap;
    padding: 2px;

}

/* -----------------------------------ingredients selection list ---------------------*/

#sub-header {
    text-align: center;
}
#ingredients {
    margin: 5px;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0;
    border: solid 1px lightblue;
    border-radius: 10%;
}

#ingr-text {
    margin: 10px;
    padding: 10px;
}

/* ---------------------------------- Buttons --------------------------------------- */


#buttonStart {
    background-color: orange;
    font-size: medium;
    border: solid 5px darkorange;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    margin: 5px;
    position: relative;
    top: 5px;
    left: 350px;
}

#buttonDetail {
    background-color: orange;
    font-size: medium;
    border: solid 5px darkorange;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    margin: 5px;
    position: relative;
    top: 350px;
    left: 350px;
}

#buttonNext {
    background-color: darkorange;
    color: white;
    font-size: medium;
    border: solid 5px orangered;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    margin: 5px;
    position: relative;
    top: 500px;
    left: 350px;
}


/* ---------------------------------- Section with list of recipe lines found --------*/


#list-container {
    max-width: 900px;
    margin: 0 50px 50px 50px;
    justify-content: center;
    align-items: flex-start;
}

/* ---------------------------------- class selectors for recipe lines ---------------*/

.font-p {
    margin: 5px;
    padding: 5px;
    font-size: medium;
}

.img-p {
    width: 20%;
    border-radius: 10%;
}



.recipe-line {
    display: flex;
    flex-direction: row;

}

/* ---------------------------------- Section with detailed recipe info ------------- */

#detail-container {
    margin-left: 50px;
}


#recipe-list li {
    list-style: square;
    margin-left: 25px;
}

/* ---------------------------------- selectors for recipe details -------------------*/


#rec-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin: 10px;

}

.rec-art {
    /* item mag groeien */
    flex-grow: 1;
    /* item mag niet kleiner worden dan de basis*/
    gap: 10px;
    flex-shrink: 0;
    flex-basis: 250px;
    padding: 8px;
    border: solid 1px slateblue;
    border-left: none;
    border-radius: 10px;

}

#rec-description, span {
    max-width: 700px;
}

#rec-img {
    max-width: 430px;
    border-radius: 10%;
    padding: 5px;
}

.rec-description {
    font-family: 'Merriweather', Georgia, serif;
    font-size: 16px;
    color: slateblue;
}

.rec-text {
    font-family: 'Merriweather', Georgia, serif;
    font-size: 14px;
    font-weight: normal;
}

/* links in summary text are not to be followed */

.rec-text a:link {
    text-decoration: none;
    color: black;
    pointer-events:none; /* deactivate all links with this style class */
}




#message-text, #detail-message-text {
    color: mediumblue;
}


/* ------------------------------- 5. Media Queries --------------------------------- */


@media screen and (min-width: 768px) {

    #buttonNext {
        bottom: 100px;
        left: 500px;

    }

    #buttonDetail {
        top: 300px;
        left: 500px;
    }
    #buttonStart {
        top: 50px;
        left: 500px;
    }

    #rec-item {
        flex-direction: row;
        flex-wrap: wrap
    }
}