@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Roboto&family=Rock+Salt&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', Georgia, serif;
    font-size: 16px;
    /*padding: 10px;*/
    /*margin: 5px;*/
}

h4 {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    position: relative;
    top: 70px;
    background-color: blanchedalmond;
}

ul {
    list-style: none;
    margin-left: 10px;
}


selcontainer {
    max-width: 900px;
    margin-left: 50px;
    padding: 50px;
    text-align: left;

}

selstyle {
    justify-content: center;
    align-items: center;
}


descr1, descr2, descr3 {
    justify-content: center;
    width: 200px;
}

listcontainer {
    max-width: 900px;
    margin: 50px;
    justify-content: center;
    align-items: flex-start;
}
head-section {
    max-width: 900px;
    margin: 10px;
    text-align: left;
}

/*--------------------------*/
/*       reusable           */
/*--------------------------*/

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.blankline {
    margin-top: 5px;
}

/*---------------------------*/
.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;


}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0;
    width: 700px;
}

.icon-img {
    width: 100px;
    height: 100px;
    border: solid 1px lightblue;
    border-radius: 10%;
    margin: 20px;

}

.icon-img32 {
    width: 50px;
    padding: 5px;
    margin: 5px;;
}

.blankline {
    padding-bottom: 5px;
}

/*---attributes for recipe line items */

.font-p {
    margin: 5px;
    padding: 5px;

}
.img-p {
    width: 50px;
    border-radius: 10%;
}



.recipe-line {
    display: flex;
    flex-direction: row

}
/*-----recipe line items */

#head-img {
    width: 500px;
    padding: 5px;
    margin: 5px;
    border: 5px white;
    border-radius: 20px;
}


#fill-img {
    width: 300px;
    padding: 5px;
    margin: 5px;
    border: 2px;
    border-radius: 20px;
}

#on-submit, #on-submit-cuisine {
    margin-left: 10px;
}

#author, #tags {
    margin-top: 5px;
    width: 150px;
    margin-left: 20px;
}

#title {
    width: 150px;
    margin-left: 20px;
}
#numberMax {
    width: 50px;
    margin-left: 10px;
}

#author, #tags, #title, #numberMax {
    color: rebeccapurple;
}


#cuisine-list {
    text-align: left;
    height: 200px;
    flex-wrap: wrap;
    padding: 2px;

}

#buttonStart {
    background-color: orange;
    font-size: medium;
    border: solid 5px darkorange;
    border-radius: 10px;
    width: 90px;
    height: 30px;
    margin: 5px;
}

#buttonNext {
    background-color: darkorange;
    color: white;
    font-size: medium;
    border-: solid 5px orangered;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    margin: 5px;
    position: fixed;
    top: 800px;
    left: 400px;
}

#button-style1, #button-style2, #button-style3 {
    background-color: darkorange;
    color: white;
    font-size: medium;
    border: solid 5px orangered;
    border-left: orange;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    margin: 50px;
    position: relative;
}

#button-style1:hover::after, #button-style2:hover::after, #button-style3:hover::after  {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid orangered;
    border-bottom: 15px solid transparent;
    position: absolute;
    right: -20px;
    top: -4px;
}

#recipe-list {
}

#recipe-list img {
    width: 20%
}

#rec-instr, #rec-description, #rec-time, #rec-servings, #rec-ingr {
    font-size: small;
    display: block;
    max-width: 700px;
    padding: 5px;

}

#mess-text {
    color: mediumblue;
}

@media screen and (min-width: 768px) {

    #buttonNext {
        top: 800px;
        left: 700px;

    }
}